appnope==0.1.0
ar-markers==0.5.0
asn1crypto==0.24.0
astroid==2.0.4
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==3.1.0
boto3==1.9.86
botocore==1.12.86
build-utils==0.3.2
cachetools==3.0.0
camera==1.3.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudstorage==0.9.0
colorama==0.4.1
coloredlogs==10.0
cryptography==2.5
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
docutils==0.14
entrypoints==0.3
facebook-sdk==3.1.0
Flask==1.0.2
Flask-Babel==0.12.2
Flask-BasicAuth==0.2.0
Flask-Cache==0.13.1
Flask-Caching==1.4.0
Flask-GoogleMaps==0.2.6
Flask-MySQL==1.4.0
Flask-ReCaptcha==0.4.2
Flask-Table==0.5.0
Flask-WTF==0.14.2
future==0.17.1
gcloud==0.17.0
geocoder==1.38.1
geographiclib==1.49
geojson==2.4.1
geolocation-python==0.2.2
geopy==1.18.1
gmaps==0.8.4
google-api-python-client==1.7.8
google-auth==1.6.2
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
google-search==1.0.2
googleapis-common-protos==1.5.5
googlemaps==3.0.2
gunicorn==19.9.0
httplib2==0.12.0
hubblepy==1.0.0
humanfriendly==4.17
idna==2.7
inflection==0.3.1
instagram-private-api==1.5.7
instaloader==4.2.3
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
libmagic==1.0
lxml==4.3.0
lyft-rides==0.2
lyricsgenius==1.1.0
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==4.3.0
nbconvert==5.4.1
nbformat==4.4.0
nose==1.3.7
notebook==5.7.6
numpy==1.15.4
oauth2client==4.1.3
oauthlib==3.0.1
obd==0.7.0
opencv-python==3.4.4.19
openpyn==2.7.5
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.4
patsy==0.5.1
paypalrestsdk==1.13.1
pexpect==4.6.0
pickleshare==0.7.5
pigpio==1.42
Pillow==5.4.0
Pint==0.7.2
pizzapi==0.0.3
pkginfo==1.5.0.1
plotly==3.4.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.6.1
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycparser==2.19
PyDrive==1.3.1
Pygments==2.3.1
PyJWT==1.7.1
pylint==2.1.1
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.3.0
pyserial==3.4
PySocks==1.6.8
pytesseract==0.2.6
python-dateutil==2.7.5
python-magic==0.4.15
python-twitter==3.5
pytz==2018.7
pyweatherbit==2.0.0
PyYAML==3.13
pyzmq==18.0.1
qrcode==6.1
Quandl==3.4.4
ratelim==0.1.6
readme-renderer==24.0
requests==2.21.0
requests-oauthlib==1.2.0
requests-toolbelt==0.8.0
responses==0.10.4
retrying==1.3.3
rsa==4.0
s3transfer==0.1.13
scikit-learn==0.20.0
scipy==1.1.0
Send2Trash==1.5.0
sightengine==1.4.0
six==1.11.0
SpeechRecognition==3.8.1
speedtest-cli==2.0.2
spotipy==2.4.4
statsmodels==0.9.0
stripe==2.20.3
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
tqdm==4.29.1
traitlets==4.3.2
tweepy==3.7.0
twilio==6.25.1
twine==1.12.1
uber-rides==0.6.0
uritemplate==3.0.0
urllib3==1.24.1
verboselogs==1.7
wcwidth==0.1.7
weather-api==1.0.6
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
WTForms==2.2.1
xmltodict==0.11.0
youtube-dl==2019.1.2
